body{
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orangered{
color: orangered;
}
.list-name{
    font-size: 20px;
    color: darkred;
}
.service{
    display: flex;
    margin-bottom: 100px;
}
.half{
    font-size:90%;
    padding-left: 5%;
}
.half img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(brown , red);
    padding: 7px 10px;
    color:white;
    border-radius: 5px;
    font-weight: 500;
}
.experience{
    background-image: url(picture/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: left 230px;
}
.item{
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    box-shadow: 10px 20px 40px gray;
}
#baby{
    border-left:7px solid;
    border-image: linear-gradient(blue , cyan);
    border-image-slice: 1;
}
#stack{
    border-left:7px solid;
    border-image: linear-gradient(brown , cyan);
    border-image-slice: 1;
}
footer p{
    text-decoration: darkslategray;
    text-align: center;
}